//colors
$trueWhite:white;
$white: #FCFCFC;
$lightGrey: #E2E2E2;
$Grey:#737385;
$MediumGrey:#ECECEC;
$inputGrey: #C4C4C4;
$greyOutOfStock: #CCCCCC;
$labelGrey:#39495A;
$DarkGrey: #333333;
$paragraphGrey:#393939;
$textGrey:#5A5D5A;
$LightBlue: #4386FD;
$DarkBlue:#121330;
$ultraLightBlue:#edf3ff;
$Red: #cd001b;
$Black:black;
$ImportantRed: #FF0000;
$GreenSuccess: #D4EDDA;