@charset "UTF-8";
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("../inc/fonts/roboto-regular-webfont.woff2") format("woff2"), url("../inc/fonts/roboto-regular-webfont.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("../inc/fonts/roboto-bold-webfont.woff2") format("woff2"), url("../inc/fonts/roboto-bold-webfont.woff") format("woff");
  font-display: swap;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

button {
  width: auto;
  padding: 0 0.5rem;
  height: 2rem;
  border: none;
  background-color: #121330;
  color: #FCFCFC;
  cursor: pointer;
}
button:hover {
  filter: brightness(90%);
}

body {
  background: #FCFCFC;
  position: relative;
}
body .header {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 1001;
}
body main {
  position: relative;
  top: 3rem;
}
body .overlay {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.container {
  position: relative;
}
.container .menu {
  background-color: #121330;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .menu__open {
  cursor: pointer;
  padding: 0 0.5rem;
  transform: translateY(0);
}
.container .menu__toggle {
  color: #FCFCFC;
  font-size: 2.75rem;
  padding: 1rem 1rem 1rem 1rem;
}
.container .menu__logo {
  color: #FCFCFC;
  font-size: 1.7rem;
  padding: 0 0.5rem;
}
.container .menu__logo span {
  color: #4386FD;
  font-weight: 700;
}
.container .menu__home {
  text-decoration: none;
  color: #FCFCFC;
}
.container .menu__account {
  padding: 0 0.5rem;
}

.navigation {
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
  position: fixed;
  width: 72%;
  left: 0;
  top: 0;
  z-index: 1000;
  background: #FCFCFC;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  list-style: none;
}
.navigation.active {
  transform: translate(0);
  opacity: 100;
}
.navigation__header {
  height: 3rem;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 0.7rem;
}
.navigation__home {
  padding-left: 1.1rem;
}
.navigation__close {
  padding-right: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  right: 0;
  z-index: 1001;
  width: 2rem;
}
.navigation__close:hover span {
  transform: scale(0.95);
}
.navigation__list {
  list-style: none;
  display: block;
  position: relative;
  background: #FCFCFC;
  padding-bottom: 0.2rem;
}
.navigation__item {
  min-height: 2rem;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #eee;
}
.navigation__item-dropdown {
  display: block;
  color: black;
  position: relative;
}
.navigation__item-dropdown::after {
  content: "";
  position: absolute;
  top: 1.5rem;
  right: 10px; /* Dostosuj margines z prawej strony według potrzeb */
  transform: translateY(-50%);
  width: 7px; /* Szerokość ikony SVG */
  height: 12px; /* Wysokość ikony SVG */
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 12" fill="none"><path d="M0.310934 10.0588L4.43546 5.93432L0.310934 1.80979C-0.103645 1.39522 -0.103645 0.725513 0.310934 0.310934C0.725513 -0.103645 1.39522 -0.103645 1.80979 0.310934L6.68907 5.19021C7.10364 5.60478 7.10364 6.27449 6.68907 6.68907L1.80979 11.5683C1.39522 11.9829 0.725513 11.9829 0.310934 11.5683C-0.0930144 11.1538 -0.103645 10.4734 0.310934 10.0588Z" fill="black"/></svg>') no-repeat center center;
}
.navigation__item-dropdown .navigation__item {
  padding-left: 0.5rem;
}
.navigation__link {
  width: 100%;
  height: 100%;
  min-height: 3rem;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  text-decoration: none;
  color: black;
}
.navigation__link:hover {
  color: #4386FD;
}
.navigation .navigation__link {
  padding-left: 1.5rem;
}
.navigation .navigation__item {
  border: none;
}
.navigation__dropdown {
  display: none;
}
.navigation__dropdown.active {
  display: block;
}

@media only screen and (min-width: 1000px) {
  .header {
    z-index: 1000;
  }
  .menu__open {
    display: none;
  }
  .navigation {
    z-index: 1001;
    transform: translate(0);
    opacity: 100;
    position: static;
    display: flex;
    width: 80%;
    overflow: visible;
    box-shadow: none;
  }
  .navigation__dropdown {
    position: absolute;
    background: #121330;
    z-index: 3000;
    width: 10rem;
  }
  .navigation__header {
    display: none;
  }
  .navigation__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #121330;
    height: 100%;
    padding: 0;
    color: #FCFCFC;
    box-shadow: none;
    z-index: 2002;
    width: 100vw;
  }
  .navigation__item {
    min-width: 10rem;
  }
  .navigation__item-dropdown {
    position: relative;
  }
  .navigation__item-dropdown::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 5rem; /* Zawsze po prawej stronie */
    transform: translateY(-50%) rotate(90deg);
    width: 3.5px; /* Szerokość ikony SVG */
    height: 6px; /* Wysokość ikony SVG */
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 12" fill="none"><path d="M0.310934 10.0588L4.43546 5.93432L0.310934 1.80979C-0.103645 1.39522 -0.103645 0.725513 0.310934 0.310934C0.725513 -0.103645 1.39522 -0.103645 1.80979 0.310934L6.68907 5.19021C7.10364 5.60478 7.10364 6.27449 6.68907 6.68907L1.80979 11.5683C1.39522 11.9829 0.725513 11.9829 0.310934 11.5683C-0.0930144 11.1538 -0.103645 10.4734 0.310934 10.0588Z" fill="white"/></svg>') no-repeat center center;
  }
  .navigation__link {
    color: #FCFCFC;
  }
}
.main {
  width: 100%;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
}
.main__header {
  width: 100%;
}
.main__header .category {
  height: 3rem;
}
.main__header .category__list {
  display: flex;
  list-style: none;
  border-bottom: 1px solid #E2E2E2;
  width: 100%;
  height: 100%;
}
.main__header .category__item {
  height: 100%;
}
.main__header .category__link {
  display: inline-block;
  height: 3rem;
  color: #737385;
  text-decoration: none;
  padding-right: 0.5rem;
  font-size: 0.6rem;
  overflow: hidden;
  line-height: 3rem;
}
.main__header .category__divider {
  padding-right: 0.5rem;
  color: #737385;
  line-height: 2.85rem;
}
.main__title {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #E2E2E2;
  min-height: 2.125rem;
}
.main__title-text {
  font-size: 1.125rem;
}
.main__extras {
  display: flex;
  justify-content: space-between;
  height: 1.8rem;
}
.main__extras .extras__share {
  display: flex;
  align-items: center;
}
.main__extras .extras__share svg {
  transform: translateY(7%);
}
.main__extras .extras__date {
  font-size: 0.5rem;
  color: #737385;
  display: flex;
  align-items: center;
}
.main__image {
  width: 100%;
  height: 10rem;
  overflow: hidden;
  display: flex;
}
.main__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center bottom;
     object-position: center bottom;
}
.main__introduction {
  padding: 1rem 0;
  font-size: 1rem;
}
.main .card__title {
  font-size: 1.5rem;
}
.main .card .youtube {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15rem;
  overflow: hidden;
  padding: 1rem 0;
}
@media screen and (min-width: 700px) {
  .main .card .youtube {
    height: 20rem;
  }
}
.main .card .youtube__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.main .card .youtube__image {
  height: 100%;
  width: auto;
  cursor: pointer;
}
.main .card__score {
  font-size: 0.8rem;
  color: #333333;
}
.main .card__availability {
  padding: 1rem 0;
}
.main .card__table {
  margin-top: 1rem;
  border-collapse: collapse;
  border: 1px solid black;
  width: 100%;
}
.main .card__table th, .main .card__table td {
  border: 1px solid black; /* pojedyncze obramowanie komórek o grubości 1 piksela */
  padding: 8px; /* opcjonalne - dodaje odstęp wewnątrz komórek */
  text-align: center;
}
.main .card__affiliate {
  background: #cd001b;
  color: #FCFCFC;
  display: inline-block;
  height: 2.5rem;
  width: 16rem;
  border-radius: 10px;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: transform 0.3s ease-out, filter 0.3s ease-out;
  margin-bottom: 0.5rem;
  text-align: center;
}
.main .card__affiliate:hover {
  filter: brightness(130%);
}
.main .card__affiliate:active {
  transform: scale(0.98);
  filter: brightness(130%);
}
.main .card__ad {
  background-color: #edf3ff;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.main .card__ad h3 {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
}
.main .card__ad p {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.5rem;
}
.main .card__nordvpn {
  text-decoration: none;
  display: inline-block;
  background-color: #cd001b;
  color: #fff;
  height: 4rem;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 1.5rem;
}
.main .card__nordvpn:hover {
  transform: scale(0.98);
}
.main .card__nordvpn:active {
  transform: scale(0.98);
  filter: brightness(80%);
}
/*# sourceMappingURL=index.css.map */