@import "./colors";



//font

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url('../inc/fonts/roboto-regular-webfont.woff2') format('woff2'),
      url('../inc/fonts/roboto-regular-webfont.woff') format('woff');
    font-display: swap;
    
  }

  @font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: url('../inc/fonts/roboto-bold-webfont.woff2') format('woff2'),
      url('../inc/fonts/roboto-bold-webfont.woff') format('woff');
    font-display: swap;
    
  }


*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

button{
    width:auto;
    padding:0 .5rem;
    height:2rem;
    border:none;
    background-color:$DarkBlue;
    color:$white;
    cursor: pointer;

    &:hover{
        filter:brightness(90%);
    }
}

body{
    background:$white;
    position:relative;


    .header{
        position:fixed;
        left:0;
        width:100%;
        z-index:1001;
    }

    main{
        position:relative;
       top:3rem;
  
    }

    .overlay {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }
    




}




.container{




    position:relative;
    .menu{
        background-color:$DarkBlue;
        height:3rem;
        display:flex;
        align-items: center;
        justify-content: space-between;
       

        &__open{
            cursor: pointer;
            padding:0 .5rem;
            transform:translateY(0);
        }

        &__toggle{
            color:$white;
            font-size:2.75rem;
            padding:1rem 1rem 1rem 1rem;
           
        }

        &__logo{
            color:$white;
            font-size:1.7rem;
            padding:0 .5rem;
            
            span{
                
                color:$LightBlue;
                font-weight:700;
            }
        }

        &__home{
            text-decoration: none;
            color:$white;
        }

        &__account{

            padding:0 .5rem;
            
   
        }
    }
}


.navigation{


    &.active{
       
        transform: translate(0);
        opacity:100;
    }

    transform: translateX(-100%);
    opacity:0;
    
    transition: transform .5s ease, opacity .5s ease;
    position:fixed;
    width: 72%;
    left:0;
    top:0;
    z-index:1000;

    background:$white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 
    overflow: hidden;
   
    &__header{
        height:3rem;
        position:relative;
        width:100%;
        display:flex;
        justify-content: space-between;
        padding-top:.7rem;
      


    }

    &__home{
        padding-left:1.1rem;
    }

    &__close{
        padding-right:1.1rem;
        display:flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position:absolute;   

        right:0;
       
        
        z-index:1001;
        width:2rem;
    
        &:hover {
            span{
                transform:scale(.95);
            }
        }
        
    }

    &__list{
        list-style:none;
        display:block;
        position:relative;
        background:$white;
        padding-bottom:.2rem;

    }

    &__item{
        min-height:2rem;
        display:flex;
        justify-content:center;
        border-bottom:1px solid #eee;
   
       

        &-dropdown{
            display:block;
            color:black;
            position:relative;
            &::after {
                content: "";
                position: absolute;
                top: 1.5rem;
                right: 10px; /* Dostosuj margines z prawej strony według potrzeb */
                transform: translateY(-50%);
                width: 7px; /* Szerokość ikony SVG */
                height: 12px; /* Wysokość ikony SVG */
                background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 12" fill="none"><path d="M0.310934 10.0588L4.43546 5.93432L0.310934 1.80979C-0.103645 1.39522 -0.103645 0.725513 0.310934 0.310934C0.725513 -0.103645 1.39522 -0.103645 1.80979 0.310934L6.68907 5.19021C7.10364 5.60478 7.10364 6.27449 6.68907 6.68907L1.80979 11.5683C1.39522 11.9829 0.725513 11.9829 0.310934 11.5683C-0.0930144 11.1538 -0.103645 10.4734 0.310934 10.0588Z" fill="black"/></svg>') no-repeat center center;
              }



            .navigation__item{
                padding-left:.5rem;
            }
        }

    }

    &__link{

        width:100%;
        height:100%;
        min-height:3rem;
        display:flex;
        align-items:center;
        padding-left:1rem;
        text-decoration: none;
        color:black;
       



        &:hover{
            color:$LightBlue;
        }


        
      
    }

   
        list-style:none;
        .navigation__link{
         
            padding-left:1.5rem;
        }

        .navigation__item{
            border:none;
        }
    

    &__dropdown{
        display:none;



        &.active{
           display:block;
        }
    }
}








// media for desktop -- navigation


@media only screen and (min-width: 1000px) {

    .header{
        z-index:1000;

       
    }

    .menu{

        &__open{
            display:none;
        }
    }


    .navigation{
        z-index:1001;
    transform:translate(0);
    opacity:100;
    position:static;
    display:flex;
    width:80%;
    overflow: visible;
   
    box-shadow: none;

    &__dropdown{
        position:absolute;
        background:$DarkBlue;
       
        z-index:3000;
        width: 10rem;
    }

    &__header{
        display:none;

    }

    &__list{
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        background:$DarkBlue;
        height:100%;
        padding:0;
        color:$white;
        box-shadow: none;
        z-index:2002;
        width:100vw;
       

    }

    &__item{
        min-width:10rem;
        
        &-dropdown{
            position:relative;
            &::after{
                content: "";
                position: absolute;
                top: 50%;
                right: 5rem; /* Zawsze po prawej stronie */
                transform: translateY(-50%) rotate(90deg);
                
                width: 3.5px; /* Szerokość ikony SVG */
                height: 6px; /* Wysokość ikony SVG */
                background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 12" fill="none"><path d="M0.310934 10.0588L4.43546 5.93432L0.310934 1.80979C-0.103645 1.39522 -0.103645 0.725513 0.310934 0.310934C0.725513 -0.103645 1.39522 -0.103645 1.80979 0.310934L6.68907 5.19021C7.10364 5.60478 7.10364 6.27449 6.68907 6.68907L1.80979 11.5683C1.39522 11.9829 0.725513 11.9829 0.310934 11.5683C-0.0930144 11.1538 -0.103645 10.4734 0.310934 10.0588Z" fill="white"/></svg>') no-repeat center center;
            }
         
        }
    }



    &__link{
        color:$white;
    }
    }
  }



  // ------ MAIN
.main{
    width:100%;


    padding-left:.9rem;
    padding-right: .9rem;
    



    &__header{
        width:100%;
        .category{
            height:3rem;
            &__list{
                display:flex;
                list-style: none;
                border-bottom:1px solid $lightGrey;
                width:100%;
                height:100%;
       
               
            }

            &__item{
                height:100%;
        
            }
        
            &__link{
                display:inline-block;
                height:3rem;
          
                color:$Grey;
                text-decoration: none;
                padding-right:.5rem;
                font-size:.6rem;
                overflow: hidden;
                line-height: 3rem;

              
            }

            &__divider{

                padding-right:.5rem;
                color:$Grey;
                line-height: 2.85rem;
            }
          }
    }

    &__title{
    display:flex;
    align-items: center;
    border-bottom:1px solid $lightGrey;
    min-height: 2.125rem;

        &-text{



        font-size:1.125rem;
 

        }
    }

    &__extras{
        display:flex;
        justify-content: space-between;
        height:1.8rem;


        .extras{

            &__share{
                display:flex;
                align-items: center;
             svg{
                transform: translateY(7%);
             }
            }

            &__date{
                font-size:.5rem;
               color:$Grey;
                display:flex;
                align-items: center;
            }

        

        }
    }


    &__image{
        width:100%;
        height:10rem;
        overflow: hidden;
        display:flex;


img{
    width: 100%;
  height: 100%;
  object-fit:cover;
  object-position: center bottom; 
}
    }

    &__introduction{
        padding:1rem 0;
        font-size:1rem;
        
    }

    .card{
        &__title{
            font-size:1.5rem;
        }

        .youtube{
            position:relative;
            display:flex;
            justify-content: center;
            align-items: center;
            height: 15rem;
            overflow: hidden;
            
            @media screen and (min-width: 700px) {
              height: 20rem;
            }
           
            padding:1rem 0;
   
            &__play{
                position:absolute;
                top:50%;
                left:50%;
                transform: translate(-50%, -50%);
                cursor: pointer;
                
            }   

            &__image{
                height:100%;
                width:auto;
                cursor: pointer;
            }


        
        }

        &__score{
            font-size:.8rem;
            color:$DarkGrey;
        }

        &__availability{
            padding:1rem 0;
        }

        &__table{
            margin-top:1rem;
            border-collapse: collapse;
            border: 1px solid black;
            width:100%;
            

            th, td {
                border: 1px solid black; /* pojedyncze obramowanie komórek o grubości 1 piksela */
                padding: 8px; /* opcjonalne - dodaje odstęp wewnątrz komórek */
                text-align: center;

              }

            td{

            }
        }
    
        &__affiliate{
            background:$Red;
            color:$white;
            display:inline-block;
            height:2.5rem;
            width:16rem;
            border-radius: 10px;
            font-size:1.1rem;
            display:flex;
            justify-content: center;
            align-items: center ;
     
            cursor: pointer;
            user-select: none;
            transition:transform .3s ease-out, filter .3s ease-out;
            margin-bottom:.5rem;
            text-align: center;
&:hover{

    filter:brightness(130%);

}

&:active{
    transform: scale(.98);
    filter:brightness(130%);
}
        }

        &__ad{
            background-color:$ultraLightBlue;
            height:20rem;
            display:flex;
            flex-direction: column;
            justify-content: space-evenly;

            

            h3{
                padding:1rem;
                display:flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size:2rem;
            }

            p{
                font-size: 0.9rem;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-bottom:.5rem;
            }


        }

        &__nordvpn{
            text-decoration: none;
            display: inline-block;
            background-color:$Red;
            color:#fff;
            height:4rem;
            width:80vw;
            display:flex;
            justify-content: center;
            align-items: center;
            border-radius:10px;
            font-size:1.5rem;

            &:hover{

                
                transform: scale(.98);
            
            }
            
            &:active{
                transform: scale(.98);
                filter:brightness(80%);
            }

        }
    }

}




